<h1>Index Page</h1>

<h2>Категория: <%= params[:category] %></h2>

<% if @products.count == 0 %>
  <h3>Нет продуктов в данной категории</h3>
<% else %>
  <% @products.each do |product| %>
    <h3><%= link_to product.title, product_path(product) %></h3>
  <% end %>
<% end %>
