<h1>Index Page</h1>

<h2><%= params[:category] %></h2>

<% if @products.count == 0 %>
  <h3>Нет продуктов в данной категории</h3>
<% else %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-6">
        <a href="/products/<%= product.id %>">
          <%= image_tag product.product_img.url(:product_index), class: "product" %>
        </a>
        <h3><%= link_to product.title, product_path(product) %></h3>
      </div>
    <% end %>
  </div>
<% end %>
